/* .hide{
    display: none;
} */

body {
    padding: 0;
    margin: 0;
    display: flex;
    background-color: lightsalmon;
    font-family: 'Architects Daughter', cursive;
    font-weight: 300;
}

.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 900px;
    height: 600px;
    text-align: center;
}

#view-scores{
    margin: 10px;
    float: right;
    font-size:large;
    margin: 20px;
}

#time{
    float: left;
    font-size:x-large;
    margin: 20px;
}
